<div fxLayout="row">
  <div fxFlex="65%" class="video-detail">
    Video Player
    <app-video-player *ngIf="videoAvailable" [videoUrl]="videoUrl" ></app-video-player>
   <div class="mat-title">{{videoTitle}}</div>
    <div fxLayout="row">
      <div fxFLex="50%">
        <div>3rd Feb 2023</div>
        <span>{{videoDescription}}</span>
      </div>
      <div fxFLex="50%">
        <span></span>
      </div>
    </div>
  </div>
  <div fxFlex="5%">

  </div>
  <div fxFlex="30%">
    Suggestions bar
  </div>
</div>



