<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Video uploader</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>video_call</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" *ngIf="isAuthenticated; else noAuth" aria-label="Example icon-button with share icon">
      <mat-icon>account_circle</mat-icon>
    </button>
    <ng-template #noAuth>
      <button mat-raised-button (click)="login()" >Login</button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
